.inputOrcamento{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.inputOrcamento h1{
    font-size: 1.5rem;
}
.inputOrcamento input{
    width: 50%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputOrcamento input:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
    outline: none; 
}