header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 112px;
    margin: 0px 15px;

}
.navegacao {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
    transition: trasform 5s;
}
.navegacao a:hover{
    transform: scale(1.1);
    color: #961813;
}
.navegacao a:active{
    color: #961813;
}


.logo{
    max-width: 150px;
    max-height: 50px;
}

@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}