main.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inicio h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 10px;
}
.inicio p {
  color: #666;
  font-size: 18px; 
  line-height: 1.5; 
  margin: 15px;
  text-align: justify;
}
